
/* =============================================
 * Setting
 * ============================================= */

@import '_setting';

/* =============================================
 * Font
 * ============================================= */

$font-supermarket         : 'supermarket';        
$font-baijam              : 'baijam';      
$font-angsana             : 'angsanaupc';         
$font-nunito              : 'nunito';             
$font-tahoma              : 'tahoma';               
$font-sans-serif          : 'sans-serif';
$font-bangna-new          : 'bangna_new';